body{
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;   /* full screen height */
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    padding: 10px 20px;
    width: 40%;
}

.wol{
    display: inline-block;
    margin: 20px;
    font-size: 50px;
}

.btn{
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
